@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Parisienne&display=swap");

@media only screen and (max-width: 768px) {
  .jay-animate {
    display: none;
  }

  /* navbar */
  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    position: fixed;
  }

  ul.nav-menu-items {
    list-style: none;
    width: 100%;
    background-color: white;
    height: 100vh;
    margin-top: 0;
    position: relative;
    z-index: 0;
  }

  .nav-menu {
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    width: 100%;
    z-index: 0;
  }

  .nav-menu.active {
    left: 0;
    transition: 550ms;
    position: relative;
    z-index: 1;
  }

  #hamburger {
    padding: 10px;
    border: solid 2px #808588;
    border-radius: 10px;
    color: #808588;
  }

  span.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Oswald", sans-serif;
    padding: 20px 0px 5px 10px;
    font-size: 25px;
    color: #808588;
  }

  a:link,
  a:visited,
  a:active div span.nav-text {
    text-decoration: none;
  }

  a:link,
  a:visited div span.nav-text:hover {
    text-decoration: none;
    color: #03123d;
  }

  span.dropdown-icon {
    margin-left: 2px;
    display: inline-flex;
  }

  span.nav-subtext {
    background-color: #aeb5b99a;
    color: white;
    font-family: "Oswald", sans-serif;
    display: flex;
    font-size: 25px;
    padding: 10px;
    width: 50%;
  }

  /* x button when navbar is open */
  li.navbar-toggle {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #808588;
  }

  .social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #808588;
    padding: 20px;
    font-size: 2rem;
    margin-right: 20px;
  }

  .social-icons a {
    text-decoration: none;
    color: #808588;
  }

  .navinfo-title {
    font-weight: bold;
    color: #808588;
  }
  .contact-info {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    padding: 20px;
  }

  /* logo */
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top: 0;
    padding: 10px;
    border-bottom: solid #808588;
    border-bottom-style: double;
  }

  /* about me (jay doshi) */
  #about-me-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h1#about-me-header,
  span#about-me-header {
    text-align: center;
    font-family: "Parisienne", cursive;
    text-shadow: -1px 0 rgb(155, 155, 177), 0 1px black, 1px 0 black,
      0 -1px rgb(155, 155, 177);
    padding: 20px;
    margin-bottom: 0px;
  }

  /* double bars on either side of about-me header */
  /* .fancy span {
      display: inline-block;
      position: relative;  
    }
  
    .fancy span:before,
    .fancy span:after {
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      margin-top: 15px;
      width:60px;
    }
    .fancy span:before {
      right: 100%;
      margin-right: 8px;
    }
    .fancy span:after {
      left: 100%;
      margin-left: 8px;
    } */

  #about-me-body {
    text-align: center;
    font-family: "Oswald", sans-serif;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 18px;
    margin-top: 0px;
  }

  /* homepage food images */
  .food-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: solid 1px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 0px;
  }

  .takeout-img {
    padding: 30px;
    height: 35vh;
    width: 40vh;
    position: relative;
    z-index: 0;
  }

  #chicken:hover #chicken-img.takeout-img,
  #steak:hover #steak-img.takeout-img,
  #seafood:hover #seafood-img.takeout-img,
  #wraps:hover #wraps-img.takeout-img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    border: 1px white;
  }

  #chicken-btn:hover,
  #steak-btn:hover,
  #seafood-btn:hover,
  #wraps-btn:hover {
    border: solid 2px white;
    font-size: 55px;
    transition: 0.3s;
  }

  .takeout-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 4.5%;
    padding: 10px;
  }

  #chicken-btn {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 30px;
  }

  #steak-btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 40px;
  }

  #seafood-btn {
    position: absolute;
    top: 145%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 30px;
  }

  #wraps-btn {
    position: absolute;
    top: 191%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 40px;
  }

  #chicken-header,
  #steak-header,
  #seafood-header,
  #wraps-header {
    text-align: center;
    font-family: "Parisienne", cursive;
    font-size: 60px;
    padding: 20px;
    text-shadow: -1.5px 0 rgb(155, 155, 177), 0 1.5px black, 1.5px 0 black,
      0 -1.5px rgb(155, 155, 177);
  }

  /* ordering page */

  .menu {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 0;
    justify-content: center;
  }

  .item-title {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
  }

  .item-description {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-style: italic;
  }

  .menu-item {
    position: relative;
    background-color: rgba(1, 1, 12, 0.322);
    color: white;
    border-radius: 0.3rem;
    z-index: 0;
    box-shadow: 0px 0px 3px 1.5px rgba(1, 1, 121, 0.26);
    padding: 10px;
    width: 80%;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    border: solid 1px rgba(0, 0, 0, 0.171);
  }

  .cart-btn {
    display: block;
    float: right;
    padding: 10px;
    cursor: pointer;
    width: 40%;
    box-shadow: 0px 0px 4px 0.5px white;
    background-color: rgba(255, 255, 255, 0.596);
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    text-align: center;
    border-radius: 0.25rem;
    border: 1px solid grey;
    color: white;
    letter-spacing: 0.08rem;
    color: rgb(65, 64, 64);
  }

  .cart-btn:hover {
    box-shadow: 0px 0px 4px 0.5px white;
    background-color: transparent;
    color: white;
  }

  /* portfolio */

  .portfolio-cards {
    position: relative;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
  }

  /* contact form - event inquiries page */

  #events-header {
    text-align: center;
    font-family: "Parisienne", cursive;
    font-size: 60px;
    margin-top: 35px;
    text-shadow: -1.5px 0 rgb(155, 155, 177), 0 1.5px black, 1.5px 0 black,
      0 -1.5px rgb(155, 155, 177);
    margin-bottom: 0;
    padding: 0;
    position: relative;
  }

  #events-blurb {
    text-align: center;
    top: 0;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    position: relative;
  }

  .contact-page {
    padding: 10px;
    margin-bottom: 38px;
  }

  .contact-form {
    display: block;
    text-align: center;
    position: relative;
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 70%;

    font-family: "Oswald", sans-serif;
    font-size: 22px;
    background-color: rgba(1, 1, 12, 0.322);
    color: white;
    border-radius: 0.3rem;

    z-index: 0;
    box-shadow: 0px 0px 2px 1.5px rgba(0, 0, 0, 0.822);
  }

  .contact-input {
    padding: 20px;
  }

  label {
    display: flex;
    flex-direction: column;
    text-align: left;
    cursor: default;
  }

  input,
  #message {
    padding: 10px;
    width: 100%;
    margin-bottom: 7px;
    border-radius: 0.25rem;
    border: solid 1px gray;
    cursor: text;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  ::placeholder {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
  }

  ::placeholder:hover {
    color: white;
  }

  #contact-btn {
    display: block;
    float: right;
    padding: 5px;
    cursor: pointer;
    width: 30%;
    box-shadow: 0px 0px 4px 0.5px white;
    background-color: rgba(255, 255, 255, 0.596);
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    text-align: center;
    border-radius: 0.25rem;
    border: 1px solid grey;
    color: white;
    letter-spacing: 0.08rem;
    color: rgb(65, 64, 64);
  }

  #contact-btn:hover {
    box-shadow: 0px 0px 4px 0.5px white;
    background-color: transparent;
    color: white;
  }

  #footer {
    display: block;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    color: #808588;
    font-family: "Oswald", sans-serif;
    bottom: 0;
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    background-color: white;
  }

  ul.nav-menu-items {
    list-style: none;
    width: 16%;
    background-color: white;
    height: 100vh;
    margin-bottom: 0;
    margin-top: 0;
    border: solid 0.5px gray;
  }

  nav.nav-menu {
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    flex-direction: column;
    top: 0;
    width: 100%;
    margin-top: 0;
  }

  .nav-menu.active {
    left: 0;
  }

  #hamburger {
    display: none;
  }

  #x-bar {
    display: none;
  }

  .nav-text span.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Oswald", sans-serif;
    padding: 15px 0px 15px 10px;
    font-size: 25px;
    color: #808588;
  }

  a:link,
  a:visited span.nav-text:hover {
    text-decoration: none;
    color: black;
  }

  span.dropdown-icon {
    margin-left: 2px;
    display: inline-flex;
  }

  .nav-menu-text {
    margin-top: 75%;
  }

  span.nav-subtext {
    background-color: #aeb5b99a;
    color: white;
    font-family: "Oswald", sans-serif;
    display: block;
    font-size: 25px;
    padding: 10px;
    width: 70%;
    position: static;
    top: 0;
  }

  a:link,
  a:visited span.nav-subtext:hover {
    text-decoration: none;
    color: black;
  }

  /* x button when navbar is open */
  li.navbar-toggle {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #808588;
  }

  /* navbar dropdown */

  .social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #808588;
    padding: 20px;
    font-size: 2rem;
  }

  div.social-icons a {
    text-decoration: none;
    color: #808588;
  }

  .navinfo-title {
    font-weight: bold;
    color: #808588;
  }

  .contact-info {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    padding: 8px;
  }

  /* logo */
  .logo {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    width: 15%;
    top: 0;
    position: fixed;
  }

  /* about me (jay doshi) */

  #about-me-img {
    display: block;
    margin-left: 18%;
    width: 95%;
    height: 50vh;
  }

  .about-me {
    display: flex;
    flex-direction: column;
  }

  #about-me-header {
    text-align: center;
    font-family: "Parisienne", cursive;
    font-size: 60px;
    margin-left: 16%;
    margin-top: 0;
    text-shadow: -1.5px 0 rgb(155, 155, 177), 0 1.5px black, 1.5px 0 black,
      0 -1.5px rgb(155, 155, 177);
  }
  /* double bars on either side of about-me header */
  .fancy span {
    display: inline-block;
    position: relative;
  }

  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    height: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-top: 30px;
    width: 100px;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 15px;
  }
  .fancy span:after {
    left: 100%;
    margin-left: 15px;
  }

  .about-me-text {
    margin-top: 100px;
  }

  #about-me-body {
    text-align: center;
    font-family: "Oswald", sans-serif;
    margin-left: 30%;
    margin-right: 15%;
    font-size: 25px;
  }

  /* homepage food images */
  .food-imgs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }

  .food-img {
    border: solid 1px;
    margin-left: 30px;
    margin-right: 100px;
    box-shadow: 0px 0px 10px 0px;
  }

  #footer {
    text-align: center;
    padding: 15px;
    color: #808588;
    font-family: "Oswald", sans-serif;
  }
}

@media only screen and (min-width: 768px) {
  .jay-animate {
    max-width: 50%;
  }

  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    background-color: white;
  }

  ul.nav-menu-items {
    list-style: none;
    width: 16%;
    background-color: white;
    height: 100vh;
    margin-bottom: 0;
    margin-top: 0;
    border: solid 0.5px gray;
  }

  nav.nav-menu {
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    flex-direction: column;
    top: 0;
    width: 100%;
    margin-top: 0;
  }

  .nav-menu.active {
    left: 0;
  }

  #hamburger {
    display: none;
  }

  #x-bar {
    display: none;
  }

  .nav-text span.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Oswald", sans-serif;
    padding: 15px 0px 15px 10px;
    font-size: 25px;
    color: #808588;
  }

  a:link,
  a:visited span.nav-text:hover {
    text-decoration: none;
    color: black;
  }

  span.dropdown-icon {
    margin-left: 2px;
    display: inline-flex;
  }

  .nav-menu-text {
    margin-top: 75%;
  }

  span.nav-subtext {
    background-color: #aeb5b99a;
    color: white;
    font-family: "Oswald", sans-serif;
    display: block;
    font-size: 25px;
    padding: 10px;
    width: 70%;
    position: static;
    top: 0;
  }

  a:link,
  a:visited span.nav-subtext:hover {
    text-decoration: none;
    color: black;
  }

  /* x button when navbar is open */
  li.navbar-toggle {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #808588;
  }

  /* navbar dropdown */

  .social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #808588;
    padding: 20px;
    font-size: 2rem;
  }

  div.social-icons a {
    text-decoration: none;
    color: #808588;
  }

  .contact-info {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    padding: 8px;
  }

  .contact-info {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
  }

  /* logo */
  .logo {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    width: 15%;
    top: 0;
    position: fixed;
  }

  /* about me (jay doshi) */

  #about-me-img {
    display: block;
    margin-left: 18%;
    width: 95%;
    height: 50vh;
  }

  .about-me {
    display: flex;
    flex-direction: column;
  }

  #about-me-header {
    text-align: center;
    font-family: "Parisienne", cursive;
    font-size: 60px;
    margin-left: 16%;
    margin-top: 0;
    text-shadow: -1.5px 0 rgb(155, 155, 177), 0 1.5px black, 1.5px 0 black,
      0 -1.5px rgb(155, 155, 177);
  }
  /* double bars on either side of about-me header */
  .fancy span {
    display: inline-block;
    position: relative;
  }

  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    height: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-top: 30px;
    width: 180px;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 15px;
  }
  .fancy span:after {
    left: 100%;
    margin-left: 15px;
  }

  .about-me-text {
    margin-top: 100px;
  }

  #about-me-body {
    text-align: center;
    font-family: "Oswald", sans-serif;
    margin-left: 30%;
    margin-right: 15%;
    font-size: 25px;
  }

  /* homepage food images */
  .food-imgs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }

  .food-img {
    border: solid 1px;
    margin-left: 30px;
    margin-right: 100px;
    box-shadow: 0px 0px 10px 0px;
  }

  #footer {
    text-align: center;
    padding: 15px;
    color: #808588;
    font-family: "Oswald", sans-serif;
  }
}

@media only screen and (min-width: 992px) {
  /* navbar */
  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    background-color: white;
  }

  ul.nav-menu-items {
    list-style: none;
    width: 13%;
    background-color: white;
    height: 100vh;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    border: solid 0.5px gray;
    position: fixed;
    z-index: 0;
  }

  nav.nav-menu {
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    flex-direction: column;
    top: 0;
    width: 100%;
    margin-top: 0;
    z-index: 0;
  }

  .nav-menu.active {
    left: 0;
  }

  #hamburger {
    display: none;
  }

  #x-bar {
    display: none;
  }

  .nav-text span.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Oswald", sans-serif;
    padding: 15px 0px 15px 10px;
    font-size: 25px;
    color: #808588;
    position: relative;
    z-index: auto;
  }

  a:link,
  a:visited span.nav-text:hover {
    text-decoration: none;
    color: black;
  }

  span.dropdown-icon {
    margin-left: 2px;
    display: inline-flex;
  }

  .nav-menu-text {
    margin-top: 95%;
  }

  span.nav-subtext {
    background-color: #aeb5b99a;
    color: white;
    font-family: "Oswald", sans-serif;
    display: block;
    font-size: 25px;
    padding: 10px;
    width: 70%;
    position: static;
    top: 0;
  }

  a:link,
  a:visited span.nav-subtext:hover {
    text-decoration: none;
    color: black;
  }

  /* x button when navbar is open */
  li.navbar-toggle {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #808588;
  }

  /* navbar dropdown */

  .social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #808588;
    padding: 20px;
    font-size: 2rem;
    margin-top: 70px;
    margin-right: 25px;
  }
  div.social-icons a {
    text-decoration: none;
    color: #808588;
  }

  .contact-info {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    padding: 8px;
  }

  .contact-info {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-right: 28px;
  }

  /* logo */
  .logo {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    width: 13%;
    top: 0;
    position: fixed;
  }

  /* about me (jay doshi) */

  #about-me-img {
    display: block;
    overflow: hidden;
    margin: 0px;
    width: 85%;
    height: 38vh;
    padding: 0;
    position: relative;
    z-index: 0;
    bottom: 0;
  }

  #about-me-header {
    text-align: center;
    font-family: "Parisienne", cursive;
    font-size: 60px;
    margin-left: 16%;
    margin-top: 0;
    text-shadow: -1.5px 0 rgb(155, 155, 177), 0 1.5px black, 1.5px 0 black,
      0 -1.5px rgb(155, 155, 177);
    position: relative;
    z-index: 0;
    top: 0;
  }
  /* double bars on either side of about-me header */
  .fancy span {
    display: inline-block;
    position: relative;
  }

  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    height: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-top: 30px;
    width: 180px;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 15px;
  }
  .fancy span:after {
    left: 100%;
    margin-left: 15px;
  }

  .about-me-text {
    margin-top: 100px;
  }

  #about-me-body {
    text-align: center;
    font-family: "Oswald", sans-serif;
    margin-left: 30%;
    margin-right: 15%;
    font-size: 25px;
  }

  /* homepage food images */
  .food-imgs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }

  .food-img {
    border: solid 1px;
    margin-left: 30px;
    margin-right: 100px;
    box-shadow: 0px 0px 10px 0px;
  }

  /* online order page */

  .takeout-img {
    padding: 50px;
    height: 35vh;
    width: 40vh;
    position: relative;
    z-index: 0;
  }

  #chicken:hover #chicken-img.takeout-img,
  #steak:hover #steak-img.takeout-img,
  #seafood:hover #seafood-img.takeout-img,
  #wraps:hover #wraps-img.takeout-img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    border: 1px white;
  }

  #chicken-btn:hover,
  #steak-btn:hover,
  #seafood-btn:hover,
  #wraps-btn:hover {
    border: solid 2px white;
    font-size: 55px;
    transition: 0.3s;
  }

  .takeout-options {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 15%;
    padding: 10px;
  }

  #chicken-btn {
    position: absolute;
    top: 23%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 50px;
  }

  #steak-btn {
    position: absolute;
    top: 23%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 50px;
  }

  #seafood-btn {
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 50px;
  }

  #wraps-btn {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 50px;
  }

  #chicken-header,
  #steak-header,
  #seafood-header,
  #wraps-header {
    text-align: center;
    font-family: "Parisienne", cursive;
    font-size: 60px;
    margin-left: 16%;
    padding: 20px;
    text-shadow: -1.5px 0 rgb(155, 155, 177), 0 1.5px black, 1.5px 0 black,
      0 -1.5px rgb(155, 155, 177);
  }

  /* ordering page */

  .menu {
    position: relative; 
    display: flex;
    flex-direction: column;
    z-index: 0;
    justify-content: center;
    margin-left: 33%;
 
  }

  .item-title {
    font-family: "Oswald", sans-serif;
    font-size: 35px;
  }

  .item-description {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-style: italic;
  }

  .menu-item {
    position: relative;
    background-color: rgba(1, 1, 12, 0.322);
    color: white;
    border-radius: 0.3rem;
    z-index: 0;
    box-shadow: 0px 0px 3px 1.5px rgba(1, 1, 121, 0.26);
    padding: 15px;
    width: 70%;
    margin: 10px;

    border: solid 1px rgba(0, 0, 0, 0.171);
  }

  .cart-btn {
    display: block;
    float: right;
    padding: 10px;
    cursor: pointer;
    width: 20%;
    box-shadow: 0px 0px 4px 0.5px white;
    background-color: rgba(255, 255, 255, 0.596);
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    text-align: center;
    border-radius: 0.25rem;
    border: 1px solid grey;
    color: white;
    letter-spacing: 0.08rem;
    color: rgb(65, 64, 64);
  }

  .cart-btn:hover {
    box-shadow: 0px 0px 4px 0.5px white;
    background-color: transparent;
    color: white;
  }

  #footer {
    display: block;
    text-align: center;
    margin-left: 8%;
    padding: 5px;
    position: fixed;
    width: 100%;
    color: #808588;
    font-family: "Oswald", sans-serif;
    bottom: 0;
    left: 0;
  }

  /* portfolio */

  .portfolio-cards {
    position: relative;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
  }

  /* contact form - event inquiries page */

  #events-header {
    text-align: center;
    font-family: "Parisienne", cursive;
    font-size: 60px;
    margin-left: 16%;
    margin-top: 35px;
    text-shadow: -1.5px 0 rgb(155, 155, 177), 0 1.5px black, 1.5px 0 black,
      0 -1.5px rgb(155, 155, 177);
    margin-bottom: 0;
    padding: 0;
    position: relative;
  }

  #events-blurb {
    text-align: center;
    margin-left: 16%;
    top: 0;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    position: relative;
  }

  .contact-form {
    display: block;
    text-align: center;
    position: absolute;
    padding: 50px;
    margin-left: 42.6%;
    margin-right: auto;
    width: 25%;
    height: 55%;
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    background-color: rgba(1, 1, 12, 0.322);
    color: white;
    border-radius: 0.3rem;

    z-index: 0;
    box-shadow: 0px 0px 2px 1.5px rgba(0, 0, 0, 0.822);
  }

  .contact-input {
    padding: 20px;
  }

  label {
    display: flex;
    flex-direction: column;
    text-align: left;
    cursor: default;
  }

  input,
  #message {
    padding: 10px;
    width: 100%;
    margin-bottom: 7px;
    border-radius: 0.25rem;
    border: solid 1px gray;
    cursor: text;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  ::placeholder {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
  }

  ::placeholder:hover {
    color: white;
  }

  #contact-btn {
    display: block;
    float: right;
    padding: 10px;
    cursor: pointer;
    width: 30%;
    box-shadow: 0px 0px 4px 0.5px white;
    background-color: rgba(255, 255, 255, 0.596);
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    text-align: center;
    border-radius: 0.25rem;
    border: 1px solid grey;
    color: white;
    letter-spacing: 0.08rem;
    color: rgb(65, 64, 64);
  }

  #contact-btn:hover {
    box-shadow: 0px 0px 4px 0.5px white;
    background-color: transparent;
    color: white;
  }

  /* portfolio */

  .portfolio-imgs{
    width: 70%;
    position: relative;
    z-index: 0;
    background: transparent;
  }
}

@media only screen and (min-width: 1200px) {
  #about-me-img {
    display: block;
    margin-left: 15%;
  }
}
