@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Parisienne&display=swap");

@media only screen and (max-width: 768px) {
  /* background image */

  /* navbar */
  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    background-color: white;
  }

  ul.nav-menu-items {
    list-style: none;
    width: 100%;
    background-color: white;
    height: 100vh;
    margin-top: 0;
  }

  .nav-menu {
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    width: 100%;
  }

  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }

  #hamburger {
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    color: #808588;
  }

  span.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Oswald", sans-serif;
    padding: 5px 0px 5px 10px;
    font-size: 25px;
    color: #808588;
  }

  a:link,
  a:visited,
  a:active div span.nav-text {
    text-decoration: none;
  }

  a:link,
  a:visited div span.nav-text:hover {
    text-decoration: none;
    color: #03123d;
  }

  span.dropdown-icon {
    margin-left: 2px;
    display: inline-flex;
  }

  span.nav-subtext {
    background-color: #aeb5b9;
    color: white;
    font-family: "Oswald", sans-serif;
    display: flex;
    font-size: 25px;
    padding: 10px;
    width: 30%;
  }

  /* x button when navbar is open */
  li.navbar-toggle {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #808588;
  }

  .social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #808588;
    padding: 20px;
    font-size: 2rem;
  }

  .contact-info {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-align: center;
  }

  /* logo */
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top: 0;
  }

  /* about me (jay doshi) */
  #about-me-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 20px;
  }

  #about-me-header {
    text-align: center;
    font-family: "Parisienne", cursive;
  }

  #about-me-body {
    text-align: center;
    font-family: "Oswald", sans-serif;
  }

  /* homepage food images */
  .food-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: solid 1px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 0px;
  }
}

@media only screen and (min-width: 992px) {
  /* navbar */
  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    background-color: white;
  }

  ul.nav-menu-items {
    list-style: none;
    width: 16%;
    background-color: white;
    height: 100vh;
    margin-bottom: 0;
    margin-top: 0;
  }

  nav.nav-menu {
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    flex-direction: column;
    top: 0;
    width: 100%;
    margin-top: 0;
  }

  .nav-menu.active {
    left: 0;
  }

  #hamburger {
    display: none;
  }

  #x-bar {
    display: none;
  }

  .nav-text span.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Oswald", sans-serif;
    padding: 15px 0px 15px 10px;
    font-size: 25px;
    color: #808588;
  }

  a:link,
  a:visited span.nav-text:hover {
    text-decoration: none;
    color: black;
  }

  span.dropdown-icon {
    margin-left: 2px;
    display: inline-flex;
  }
  
  .nav-menu-text{
    margin-top: 75%;
  }

 span.nav-subtext {
    background-color: #aeb5b9;
    color: white;
    font-family: "Oswald", sans-serif;
    display: block;
    font-size: 25px;
    padding: 10px;
    width: 70%;
    position: static;
    top: 0;
  }

  a:link,
  a:visited span.nav-subtext:hover{
    text-decoration: none;
    color: black;
  }

  /* x button when navbar is open */
  li.navbar-toggle {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #808588;
  }

  /* navbar dropdown */

  .social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #808588;
    padding: 20px;
    font-size: 2rem;
  }

  .contact-info {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-align: center;
  }

  /* logo */
  .logo {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    width: 15%;
    top: 0;
    position: fixed;
  }

  /* about me (jay doshi) */


  #about-me-img {
    display: block;
    margin-left: 18%;
  }

  .about-me{
    display: flex;
    justify-content: flex-start;
  }

  #about-me-header {
    text-align: center;
    font-family: "Parisienne", cursive;
    font-size: 60px;
  }

  .about-me-text{
    margin-top: 100px;
  }

  #about-me-body {
    text-align: center;
    font-family: "Oswald", sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
  }

  /* homepage food images */
  .food-imgs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }

  .food-img {
    border: solid 1px;
    margin-left: 30px;
    margin-right: 100px;
    box-shadow: 0px 0px 10px 0px;
  }
}

@media only screen and (min-width: 1200px) {
}
